:root {
  --bg-main: #141414;
  --bg-blue: #010D14;
  --accent: #00F6FF;
  --text-light: #ffffff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-light);
  background-color: var(--bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: var(--bg-main);
  color: var(--text-light);
  display: block;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background: var(--accent);
  color: #000;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  opacity: 0.85;
  box-shadow: 0 0 12px rgba(0, 246, 255, 0.6);
}

button:active {
  transform: scale(0.98);
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid rgba(0, 246, 255, 0.3);
  background: #000;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: 0.2s ease;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input:focus {
  border-color: var(--accent);
  box-shadow: 0 0 8px rgba(0, 246, 255, 0.4);
}

